<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--楚天数据库字符串-->
  <add name="SelpConnectionStr" connectionString="Server=192.168.1.112;Database=chutian;Uid=root;Pwd=chutian.com"/>
    <!--开发数据库-->
    <!--<add name="SelpConnectionStr" connectionString="Server=localhost;Database=chutian;Uid=root;Pwd=lixun.com"/>-->
  </connectionStrings>

  <appSettings>
    <!--数据库类型 MySql MsSql Access-->
    <add key="DMProviderType" value="MySql"/>
  </appSettings>
</configuration>